@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  overflow-x: hidden;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  background-image: url("/images/YCPLOGO-1\ 5.png");
  box-shadow: 0px 4px 36px rgba(236, 236, 236, 0.24);
  box-sizing: border-box;
  margin: 152px 144px;
}
.container .logo {
  position: absolute;
  left: 45%;
}
.container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 81px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #00b9bc;
  margin: 2% 16%;
  margin-top: 15%;
  text-align: center;
}
.container h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  margin-top: 2%;
}
.container .left {
  width: 50%;
  float: left;
}
.container .right {
  width: 50%;
  float: right;
}
.container label {
  display: block;
  padding: 10px;
  margin: 0% 32%;
}
.container #label-lname {
  display: block;
  padding: 10px;
  margin: 0% 2%;
}
.container #label-Email {
  display: block;
  padding: 10px;
  margin: 0% 16%;
}
.container #fname {
  width:66%;
  height: 74px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  border: 2px solid #00b9bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0% 32%;
  padding: 10px;
}
.container #fname:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.container #Lname {
  width: 385px;
  height: 74px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  border: 2px solid #00b9bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0% 2%;
  padding: 10px;
}
.container #Lname:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.container .email {
  margin-top: 15%;
}
.container #Email {
  width: 68%;
  height: 73px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  border: 2px solid #00b9bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0px 16%;
  padding: 10px;
}
.container #Email:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.container .last-section h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  margin-top: 8%;
}

.container .last-section #select {
  width: 16%;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  border: 2px solid #00b9bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0% 0% 0% 28%;
  padding-left: 50px;
}
.container .last-section #select:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.container .last-section #amount {
  width: 281px;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  border: 2px solid #00b9bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0% 28% 0% 2%;
  padding: 10px;
}
.container .last-section #amount:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.container #btn-donate {
  width: 277px;
  height: 72px;
  background: #f9a11b;
  border: 4px solid #f9a11b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 164%;
  color: #f3fae1;
  margin: 131px 440px;
}
.container #btn-donate:hover {
  transform: scale(1.05);
  color: #ffffff;
  background-color: #00b9bc;
  border: 4px solid #00b9bc;
  transition: all 300ms ease-in-out;
}

.top-icons {
  position: absolute;
  left: 8%;
  top: 18%;
  transition: transform 1s;
}
.top-icons:hover {
  transform: rotate(180deg);
}
.bottom-icons{
  position: absolute;
  top: 200%;
  right: 8%;
  transition: transform 1s;
}
.bottom-icons:hover {
  transform: rotate(180deg);
} 
@keyframes animate-top {
  0%   {color:#00b9bc; left:0px; top:0px;}
  25%  {color:#00b9bc; left:1050px; top:0px;}
  50%  {color:#f9a11b; left:1050px; top:1198px;}
  75%  {color:#f9a11b; left:0px; top:1198px;}
  100% {color:#00b9bc; left:0px; top:0px;}
}
.top-icons .iconify{
  animation-name: animate-top;
  position: relative;
  animation-duration: 5s;
  /* animation-delay: 5s; */
  animation-timing-function: ease-in-out;
}
@keyframes animate-bottom {
  0%   {color:#00b9bc; right:0px; bottom:0px;}
  25%  {color:#00b9bc; right:1050px; bottom:0px;}
  50%  {color:#f9a11b; right:1050px; bottom:1198px;}
  75%  {color:#f9a11b; right:0px; bottom:1198px;}
  100% {color:#00b9bc; right:0px; bottom:0px;}
}
.bottom-icons .iconify{
  animation-name: animate-bottom;
  position: relative;
  animation-duration: 5s;
  /* animation-direction: reverse; */
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 768px) {
  /* For Tablet/Ipad phones: */
  html{
    overflow-x: hidden;
  }
  .container {
    display: flex;
    justify-content: center;
    background-image: url("/images/YCPLOGO-1\ 5.png");
    margin: 60px;
  }
  .container .logo {
    position: relative;
    align-self: center;
    width: 144px;
    height: 184px;
  }
  .container h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #00b9bc;
    margin: 2% 10%;
  }

  .container .left {
    width: 100%;
    float: left;
  }
  .container .right {
    width: 100%;
    float: right;
  }
  .container label {
    display: block;
    padding: 10px;
    margin: 0% 18%;
  }
  .container #label-lname {
    display: block;
    padding: 10px;
    margin: 0% 18%;
  }
  .container #label-Email {
    display: block;
    padding: 10px;
    margin: 0% 18%;
  }
  .container #fname {
    width: 64%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 18%;
    padding: 10px;
  }
  .container #Lname {
    width: 64%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 18%;
    padding: 10px;
  }
  .container .email {
    margin-top: 15%;
  }
  .container #Email {
    width: 64%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 18%;
    padding: 10px;
  }
  .container .last-section h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 8%;
  }

  .container .last-section #select {
    width: 24%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 18%;
    padding-left: 50px;
  }
  .container .last-section #amount {
    width: 36%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 12%;
    padding: 10px;
  }
  .container #btn-donate {
    width: 277px;
    height: 72px;
    background: #f9a11b;
    border: 4px solid #f9a11b;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 164%;
    color: #f3fae1;
    margin: 96px 254px;
  }

  .top-icons {
    opacity: 0;
  }

  .bottom-icons {
    opacity: 0;
  }
} 

@media screen and (max-width: 480px) {
  /* For mobile phones: */
  html{
    overflow: hidden;
  }
  body {
    background: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: center;
    background-image: url("/images/YCPLOGO-1\ 5.png");
    margin: 60px;
  }
  .container .logo {
    position: relative;
    align-self: center;
    width: 144px;
    height: 184px;
    left: 40%;
  }
  .container h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #00b9bc;
    margin: 2% 36%;
  }
  .container h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin: 2% 36%;
  }
  .container .left {
    width: 100%;
    float: left;
  }
  .container .right {
    width: 100%;
    float: right;
  }
  .container label {
    display: block;
    padding: 10px;
    margin: 0% 30%;
  }
  .container #label-lname {
    display: block;
    padding: 10px;
    margin: 0% 30%;
  }
  .container #label-Email {
    display: block;
    padding: 10px;
    margin: 0% 30%;
  }
  .container #fname {
    width: 40%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 30%;
    padding: 10px;
  }
  .container #Lname {
    width: 40%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 30%;
    padding: 10px;
  }
  .container .email {
    margin-top: 15%;
  }
  .container #Email {
    width: 40%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 30%;
    padding: 10px;
  }
  .container .last-section h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 10%;
  }

  .container .last-section #select {
    width: 12%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 0% 0% 30%;
    padding-left: 10px;
  }
  .container .last-section #amount {
    width: 24%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 18px;
    margin: 0% 28% 0% 2%;
    padding: 10px;
  }
  .container #btn-donate {
    width: 277px;
    height: 72px;
    background: #f9a11b;
    border: 4px solid #f9a11b;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 164%;
    color: #f3fae1;
    margin: 96px 254px;
  }

  .top-icons {
    opacity: 0;
  }

  .bottom-icons {
    opacity: 0;
  }
}

@media screen and (max-width: 320px) {
  /* For small width mobile phones: (280px -320px) */
  html{
    overflow: hidden;
  }
  body {
    background: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: center;
    background-image: url("/images/YCPLOGO-1\ 5.png");
    margin: 60px;
  }
  .container .logo {
    position: relative;
    align-self: center;
    width: 144px;
    height: 184px;
    left: 40%;
  }
  .container h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #00b9bc;
    margin: 2% 36%;
  }
  .container h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin: 2% 36%;
  }
  .container .left {
    width: 100%;
    float: left;
  }
  .container .right {
    width: 100%;
    float: right;
  }
  .container label {
    display: block;
    padding: 10px;
    margin: 0% 34%;
  }
  .container #label-lname {
    display: block;
    padding: 10px;
    margin: 0% 34%;
  }
  .container #label-Email {
    display: block;
    padding: 10px;
    margin: 0% 34%;
  }
  .container #fname {
    width: 32%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 34%;
    padding: 10px;
  }
  .container #Lname {
    width: 32%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 34%;
    padding: 10px;
  }
  .container .email {
    margin-top: 15%;
  }
  .container #Email {
    width: 32%;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 34%;
    padding: 10px;
  }
  .container .last-section h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 10%;
  }

  .container .last-section #select {
    width: 12%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0% 0% 0% 34%;
    padding-left: 10px;
  }
  .container .last-section #amount {
    width: 18%;
    height: 79px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #00b9bc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 18px;
    margin: 0% 28% 0% 2%;
    padding: 10px;
  }
  .container #btn-donate {
    width: 277px;
    height: 72px;
    background: #f9a11b;
    border: 4px solid #f9a11b;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 164%;
    color: #f3fae1;
    margin: 96px 254px;
  }

  .top-icons {
    opacity: 0;
  }

  .bottom-icons {
    opacity: 0;
  }
}