*, *::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	width: 100%;
	height: 100vh;
}

.container-fluid{
	width: 100vw;
	height: 100vh;
	padding: 0;
}

.mainContainer{
	width: 100%;
	height: 100vh;
	display: flex;
	color: #00b9bc;
}

/* Side Nav Section */

.sideNav{
	width: 8%;
	background-color: #00b9bc;
	padding-top: 2rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 2s ease-out;
}

.sideNav:hover{
	flex: 0 0 18%;
	background-color: #00b9bc;
	padding-top: 2rem;
	height: 100vh;
}

.logoContainer{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.arrow{
	color: #fff;
	font-size: 4rem;
	text-decoration: none;
	margin-bottom: 5rem;
	font-weight: bold;
	transform: rotate(0deg);
	transition: transform .8s;
}

.sideNav:hover .arrow{
	transform: rotate(-180deg);
	position: absolute;
	top: 0;
	right: 10%;
}

.arrow:hover{
	text-decoration: none;
}

.logoContainer:hover{
	text-decoration: none;
}

.logoContainer img{
	display: none;
}

.sideNav:hover .logoContainer img{
	display: block;
}

.sideNav:hover .logoContainer{
	margin-bottom: 0;
}

.userContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 4rem;
}

.imageContainer{
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-image: url(../img/port.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: .5rem;
}

.typo{
	color: #fff;
}

.typo h2{
	font-size: 1.2rem;
	margin-bottom: .5rem;
}

.sideNav:hover .typo h2{
	font-size: 1.5rem;
	margin-bottom: .5rem;
}

.typo p{
	font-size: 1.2rem;
}

.sideNav:hover .typo p{
	font-size: 1.5rem;
}

.navButtons{
	text-decoration: none;
	font-size: 1.5rem;
	width: 100%;
}

.navList{
	list-style: none;
}

.navItem{
	width: 100%;
}

.navItem:last-child{
	margin-top: auto;	
}

.navLink{
	display: flex;
	justify-content: center;
	align-items: center
}

.linkText{
	display: none;
}

.sideNav:hover .linkText{
	display: inline-block;
	margin-left: 2rem;
}

.navLink{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	margin-bottom: 1rem;
}

.sideNav:hover .navLink{
	display: flex;
	justify-content: center;
	text-decoration: none;
	margin-bottom: 1rem;
	cursor: pointer;
	font-size: 2rem;
}

.navLink:hover{
	color: #f9a11b;
	background-color: #fff;
}

.active{
	background-color: #fff;
	color: #f9a11b;
}

.textColor{
	color: #f9a11b;
}


/* End Side Nav Section */

/* Main Section */

.mainContent{
	flex: 1;
	background-color: #fff;
	padding: 5rem;
}

.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.btn:link, .btn:visited{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    width: 10rem;
    display: inline-block;
    background-color: #f9a11b;
    color: #fff;
    transition: all 0.3s ease-out;
    outline: none;
    border: none;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.btn:focus{
    outline: none;
    border: none;
}

.paragraph{
	color: #000;
	font-size: 2rem;
}

.cardContainer{
	height: 30vh;
	margin-bottom: 5rem;
}

.columnOne{
	width: 32%;
	border: none;
}

.columnOne:active, .columnOne:focus{
	outline: none;
}

.columnTwo{
	width: 32%;
	border: none;
}

.columnTwo:active, .columnTwo:focus{
	outline: none;
}

.columnThree{
	width: 32%;
	border: none;
}

.columnThree:active, .columnThree:focus{
	outline: none;
}

.card1{
	perspective: 150rem;
	-moz-perspective: 150rem;	
	width: 100%;
	position: relative;
	height: 30vh;
}

.cardSide1{
	height: 30vh;
	width: 100%;
	background-color: #00b9bc;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.front{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #00b9bc;
	border-radius: 3px;
	padding: 1.5rem 1rem .5rem 1rem;
	color: #fff;
}

.back{
	background-image: linear-gradient(to right bottom, #00b9bc, #037c7e);
	transform: rotateY(180deg);
}

.card1:hover .front{
	transform: rotateY(180deg);
}

.card1:hover .back{
	transform: rotateY(0);
}

.cardTotal{
	font-size: 4rem;
	font-weight: 700;
	color: #f9a11b;
	text-align: center;
}

.chartOne{
	display: flex;
	font-size: 1.5rem;
}

.chartOne span{
	color: #f9a11b;
	margin: 0 5px;
}

#Red{
	color: red;
}

.back{
	position: relative;
}

.back p{
	position: absolute;
	top: 30%;
	left: 50%;
	color: #eee;
	transform: translateX(-50%);
}

.btnBack:link, .btnBack:visited{
	position: absolute;
	text-decoration: none;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 2rem;
	background-image: linear-gradient(to right bottom, #00b9bc, #037c7e);
	box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
	border-radius: 5rem;
	transition: all .3s ease;
}

.btnBack:hover{
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
}

.btnBack:active{
	transform: translateY(-1px);
	box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

.smallTypo{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	color: #000;
}

.smallTypo span{
	color: #000;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
}

.tableHeader{
	font-size: 1.7rem;
	color: #fff;
	background-color: #00b9bc;
	border-radius: 3px;
}

thead{
	margin-bottom: 2rem;
}

.tableData{
	background-color: #eee;
	color: #000;
	font-size: 1.5rem;
}

/* End Main Section */